@page
@model MorseModel
@{
    ViewData["Title"] = "Morse Code";
}

<div class="text-center">
    <h1 class="display-4">Morse Code</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <textarea name="value" style="width: 100%; min-height: 150px;">@Model.Value</textarea>
        <br />
        <input name="mode" value="decode" type="submit" />
        <input name="mode" value="encode" type="submit" />
    </form>
</div>
