@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Yaakov's Toybox</h1>
    <p>This is just a little site to build some small toys, which you may or may not find useful.</p>
    <h2>Features:</h2>
    <ul>
        <li><a casp-area="" asp-page="/Encoding/Morse">Morse Code</a> encoder and decoder (text only)</li>
        <li><a casp-area="" asp-page="/Encoding/Pokemon">Pokemon</a> encoder and decoder (Kanto/National dex only)</li>
    </ul>
</div>
