@page
@model MorseModel
@{
    ViewData["Title"] = "Morse Code";
}

<div class="text-center">
    <h1 class="display-4">Morse Code</h1>
    <p><a href="https://en.wikipedia.org/wiki/Morse_code">International Morse Code</a> is a standard code used to transmit messages via a series of short and long pulses. It is mostly used in radio communications.</p>
    <p>Enter text below to encode in morse, or dots (<code>.</code>) and dashes (<code>-</code>). Whitepace or a forward slash (<code>/</code>) denote a pause, indicating a break between characters. Two forward slashes (<code>//</code>) are used to denote a longer pause, indicating a break between words.</p>

    <form method="post">
        <textarea name="value" style="width: 100%; min-height: 150px;">@Model.Value</textarea>
        <br />
        <input name="mode" value="decode" type="submit" />
        <input name="mode" value="encode" type="submit" />
    </form>
</div>
